.hidden { display: none; }

#editorContainer { 
    width: 80%; 
    margin: auto; 
}

#codeEditor { 
    width: 100%; 
    height: auto; 
    border: 1px solid #ccc;
}

#participantsMenu { 
    position: absolute; 
    top: 10px; 
    right: 10px; 
    border: 1px solid #ccc; 
    padding: 10px; 
    background: #fafafa; 
}

#participantsList li { 
    cursor: pointer; 
    padding: 5px; 
}

/* se resalta a los alumnos con permisos */
#participantsList li.has-permission { 
    background-color: #fff8b3; 
} 
