# Dependencias de Node
node_modules/
npm-debug.log
yarn-error.log

# Variables de entorno
.env

# Build de frontend (Esto se genera por Vite)
frontend/dist/
frontend/.vite/
# por si acaso
frontend/dist-ssr/
backend/dist/
backend/build/

# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/
._*

# Logs
*.log
logs/
*.pid
*.seed

# Config de editores
.vscode/
*.code-workspace

# Docker
*.bak
docker-compose.override.yml
