services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile-backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    networks:
      - collabnet

  frontend:
    build:
      context: .
      dockerfile: Dockerfile-frontend
    ports:
      - "8080:80"
    networks:
      - collabnet

networks:
  collabnet:
